body {
	position: relative;
	margin: auto;
	padding: auto;
	background-color:black;
}

form {
	background: white;
}

.Error {
	background-color: red;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

#order_form {
	position: absolute;
	width: 300px;
	height: 40px;
	top: 0px;
	left: 0px;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
}

#order_form p {
	position: absolute;
	top: 0px;
}

#order_form input {
	position: absolute;
	right: 0px;
}

#dice_form {
	position: absolute;
	width: 300px;
	top: 0px;
	right: 0px;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
}

#map_frame {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 2250px;
	height: 1500px;
	margin: 0px;
	padding: 0px;
}

#map_frame .map_line {
	position: relative;
}

#map_frame .map_square {
	width: 15px;
	height: 15px;
	padding: 0px;
}

.phase_form {
	position: absolute;
	top: 0px;
	left: 350px;
	width: 600px;
	height: 50px;
}

.phase_form p {
	position: absolute;
	top: 0px;
	height: 20px;
}

.phase_form div {
	position: absolute;
	bottom: 0px;
}

.vessel {
	position: absolute;
	top: attr(posY);
	left: attr(posX);
}
