html {
	position: absolute;
	z-index: -1;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: #505050;
}

#header {
	position: relative;
	width: 80%;
	margin: auto auto 1% auto;
	border-radius: 10px;
	background-color: #909090;
	box-shadow: 0.8vw 0.8vw 1vw black;
}

#headpic {
	margin: 0.5%;
	width: 33%;
}

#loupe {
	position: absolute;
	right: 3%;
	width: 20%;
	margin: 0 auto;
}

#reload {
	position: relative;
	float: right;
	width: 2%;
	margin: 0.5%;
}

#close {
	position: absolute;
	width: 2%;
	right: 0.5%;
	bottom: 2%;
}

#body {
	display: flex;
	width: 80%;
	height: 500px;
	margin: 0 auto auto auto;
}

#left {
	position: relative;
	background-color: #909090;
	width: 11%;
	height: 58%;
	margin: 0 1% 0 2%;
	border-radius: 10px;
	box-shadow: 0.8vw 0.8vw 1vw black;
	text-align: center;
}

#center {
	position: relative;
	background-color: #909090;
	width: 70%;
	height: 80%;
	margin: 0 1%;
	border-radius: 10px;
	box-shadow: 0.8vw 0.8vw 1vw black;
	text-align: center;
}

#right {
	position: relative;
	background-color: #909090;
	width: 11%;
	height: 58%;
	margin: 0 1%;
	border-radius: 10px;
	box-shadow: 0.8vw 0.8vw 1vw black;
	text-align: center;
}

#left img {
	width: 45%;
	height: 16%;
	margin: 0 2vw 0 2vw;
}

#left .border {
	border: 4px solid red;
}

#center img {
	width: 98%;
	height: 96%;
	margin: 1%;
}

#center a {
	display: block;
	position: absolute;
}

#center #ikea {
	top: 57%;
	left: 32%;
	width: 13%;
	height: 35%;
}

#center #apple {
	top: 58%;
	left: 79%;
	width: 18%;
	height: 21%;
}

#right div {
	width: 50%;
}

#right #toppic {
	width: 45%;
	height: 25%;
	margin: 8% 2vw 0 2vw;
}

#right #towel {
	width: 45%;
	height: 15%;
	margin: 0 2vw 0 2vw;
}

#left #toppic {
	margin-top: 8%;
}

#right #brique {
	width: 85%;
	height: 15%;
	background-image: url('resources/brick.jpg');
	margin: auto;
}

#popup {
	position: fixed;
	width: 30%;
	bottom: 8%;
	left: 7%;
	background-color: #8afb8c;
	border-radius: 10px;
	box-shadow: 0.8vw 0.8vw 1vw black;
}

#popup p {
	font-size: 0.95vw;
	font-family: arial;
	font-weight: 100;
}

#popup #first {
	margin: 0 3%;
}

#popup #italic {
	font-style: italic;
	margin: 0 3%;
}

#popup #redshade {
	text-shadow: 0.3vw 0.2vw 0.2vw orangered;
}

#popup #scream {
	font-size: 2.4vw;
	font-family: times;
}

#popup form {
	margin: 1.5% 0 10% 3%;
}

.button {
	border-color: silver;
	font-family: arial;
	background-color: #EFEFEF;
	background-image: linear-gradient(#EAEAEA, #EFEFEF);
}

.text_name {
	border-color: lightgrey;
}

#popup #name {
	width: 70%;
}
