img {
	height: 25%;
	width: 25%;
	display: block;
}

table {
	height: 50vh;
	width: 99vw;
}

h1 {
	font-size: 1.7vmin;
	font-family: helvetica, sans-serif;
}

h2 {
	font-size: 1vmin;
}

td {
	text-align: center;
	position: relative;
	border: solid black 1px;
	width: 5%;
	height: 5%;
}

.atomic {
	font-size: 1vmin;
	position: absolute;
	right: 0;
	margin: 0;
	margin-right: 3px;
}

.num {
	font-size: 1vmin;
	position: absolute;
	text-align: left;
	bottom: 0;
	margin: 0;
}

.remove-border {
	border: none;
}

.lightpink {
	background-color: #FFB6C1;
}

.wheat {
	background-color: #D2B48C;
}

.green {
	background-color: #9ACD32;
}

.blue {
	background-color: #87CEEB;
}

.ivory {
	background-color: #FFFFF0;
}

.lightgrey {
	background-color: #D3D3D3;
}

.azure {
	background-color: #F0FFFF;
}

.mocassin {
	background-color: #F5DEB3;
}

.olive {
	background-color: #808000;
}

.purple {
	background-color: #ee82ee;
}

.salmon {
	background-color: #FA8072;
}
